.Banner {
    margin: 30px 40px ;
    height: 223px;
    border-radius: 25px;
    background-color: #333333;
}

.Banner h1 {
    font-size: 48px;
    color: white;
    z-index: 2;
    margin-left: 40px;
    margin-right: 40px;
}

.Banner-Text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 223px;
    margin-top: -223px;
    align-content: center;
    flex-wrap: wrap;
}

.Banner img {
    object-fit: cover;
    height: 223px;
    width : 100%;
    border-radius: 25px;
    opacity: 0.7;
    object-position: 100% 50%;
}

@media screen and  (max-width : 550px) {
    .Banner {
        margin: 20px 20px ;
        height: 111px;
    }

    .Banner h1 {
        font-size: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .Banner img {
        height: 111px;
    }
    
    .Banner-Text {
        height: 111px;
        margin-top: -111px;
    }

}

@media screen and (max-width : 1000px) and (min-width : 550px) {
    .Banner h1 {
        font-size: 36px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .Banner,
    .Banner img {
        height: 160px;
    }

    .Banner-Text{
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 160px;
        margin-top: -160px;
    }
}
