footer {
    background: black;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 6vw 0 2vw;
    margin-top: 50px;
    margin-bottom: 0px;
}

footer img {
    margin-bottom: 30px;
}

footer p {
    font-size: 24px;
}

@media screen and  (max-width : 550px) {

    footer p {
        font-size: 12px;
    }

    footer img {
        margin-bottom: 20px;
    }
}