
.Gallery {
    height: auto;
    background: #F7F7F7;
    border-radius: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.Gallery .Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
}