
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FF6060;
}

main h1 {
    font-size: 288px;
    font-weight: 700;
    line-height: 410.69px;
    margin: -50px;
    padding-inline : -50px;
}

main p, main span { 
    font-size : 36px;
    font-weight : 500
}

main span {
    color: #FF6060;
    font-size: 18px;
}

main p {
    margin-bottom: 50px;
}


@media screen and  (max-width : 550px) {

    main h1 {
        font-size: 96px;
        height: 220px;
        line-height: 250px;
    }

    main p {
        font-size: 18px;
        margin-bottom: 70px;
        margin-left: 30px;
        margin-right: 30px;
    }

    main span {
        font-size: 14px;
    }

}


@media screen and (max-width : 1000px) and (min-width : 550px) {

    main h1 {
        font-size: 200px;
        height: 300px;
        line-height: 350px;
    }
}