
.Info-Container {
    display: flex;
    margin-left:40px;
    margin-right:40px;
    justify-content: space-between;
    column-gap: 80px;
}

.Info-Container .Collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Info-Logements {
    margin-left: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
}

.Nom-Logement h1 {
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.Localisation-Logement {
    margin-top: 0px;
}

.Localisation-Logement h2 {
    margin-top: 0px;
    font-size: 18px;
}

.Right-Info {
    display: flex;
    flex-direction: column;
    margin-right: 40px ;
    margin-top: 30px;
    justify-content: space-between;
    width: 160px;
}

.Info-Proprietaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Info-Proprietaire img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.Info-Proprietaire h3 {
    white-space: pre-wrap;
    width: 50%;
    margin-top: 10px;
}

.Tags-Logement {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Tags-Logement h2 {
    background: #FF6060;
    border-radius: 10px;
    font-size: 14px;
    padding: 3px 37px 2px 37px;
}

.Rating {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.Rating img {
    width: 24px;
    height: 24px;
}


@media screen and (max-width : 1000px) and (min-width : 550px) {
    .Info-Container {
        flex-direction: column;
        align-items: center;
        column-gap: 40px;
    }

    .Info-Container .Collapse {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .Nom-Logement h1 {
        font-size: 27px;
    }

    .Nom-Logement {
        margin-right: 40px;
    }

    .Tags-Logement h2 {
        font-size: 12px;
    }

    .Rating img {
        width: 18px;
        height: 18px;
    }

    .Right-Info {
        width: auto;
    }

    .Info-Logements {
        flex-wrap: wrap;
    }

    .Right-Info {
        width: 145px;
    }

}

@media screen and  (max-width : 550px) {
    .Info-Container {
        flex-direction: column;
        margin-left:20px;
        margin-right:20px;
        align-items: center;
    }

    .Info-Container .Collapse {
        margin-right: 0px;
        margin-left: 0px;
    }

    .Info-Logements {
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: -5px;
    }

    .Nom-Logement h1 {
        font-size: 18px;
    }

    .Tags-Logement h2 {
        font-size: 10px;
        padding: 2.1px 27px 1.8px 27px;
        margin-top: 0px;
    }

    .Tags-Logement {
        flex-wrap: wrap;
    }

    .Right-Info {
        justify-content: space-between;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 16px;
        margin-bottom: 0px;
        width: auto;
        flex-direction: row-reverse;
        flex-wrap:wrap;
    }

    .Rating {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 80px;
    }

    .Rating img {
        width: 13px;
        height: 13px;
    }

    .Info-Proprietaire {
       width: 145px;
    }

    .Info-Proprietaire h3 {
        font-size: 16px;
     }

    .Left-Info {
        margin-bottom: 0px;
     }

}


